{{#data}}
    <div class="panel-body">
        <div class="adv-table">
            {{#if increaseSum }}
            <p>
                <span class="text-warning">新增：{{ increaseSum }}，付费：{{expenseSum}}元，ARPU：{{ARPUSum}}元</span>
            </p>
            {{/if}}
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="新增: activate to sort column ascending" style="width: 137px;">用户名</th>
                        <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="新增: activate to sort column ascending" style="width: 137px;">新增</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="付费(元): activate to sort column ascending" style="width: 216px;">付费(元)</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="ARPU(元): activate to sort column ascending" style="width: 249px;">ARPU(元)</th></tr>
                    </thead>
                    <tbody id="my_tbody" role="alert" aria-live="polite" aria-relevant="all">
                    {{#dataList}}
                        <tr class="gradeA odd">
                            <td class="  sorting_1">{{username}}</td>
                            <td class="  sorting_1">{{increase}}</td>
                            <td class=" ">{{expense}}</td>
                            <td class=" ">{{ARPU}}</td>
                        </tr>
                    {{/dataList}}
                    </tbody></table>

            </div>
        </div>
    </div>
{{/data}}